body {
    height: 100vh;
    width: 100vw;
}
  
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

/* start form */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* end form */

input[type=submit]:hover {
    background-color: #45a049;
}

#navbar {
    width: 100vw;
    position: fixed;
    z-index: 1;
    border: 3px solid blue;
}

#welcome-section {
    height: 100vh;
    position: relative;
    border: 3px solid red;
}

#bio {
    height: 100vh;
    width: 100%;
    position: relative;
    border: 3px solid green;
}

#projects {
    height: 100vh;
    position: relative;
    border: 3px solid purple;
}

#contact {
    height: 100vh;
    position: relative;
    border: 3px solid yellow;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center-div {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid pink;
}

.portrait {
    width: 200px;
    border-radius: 50%;
}

.center-projects {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid pink;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 3px solid black;
    margin: 20px;
}

.project-tile {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    width: auto;
    margin: auto;
    border: 3px solid black;
}

.center-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid pink;
}

.form {
    border: 3px solid black;
}